/.quarto/
**/*.quarto_ipynb
/_site/
/docs/
*_files/
*.html
!_footer.html
!aulas/pseudocode-reveal.html
.DS_Store

.aulas-projeto-e-analise-de-algoritmos/*
aulas-projeto-e-analise-de-algoritmos/
**/*.quarto_ipynb_*
/site_libs/
